@import "tailwindcss";

/* Fontes personalizadas */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/RobotoCondensed-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/RobotoCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-zinc-800: #27272a;
  --color-zinc-300: #d4d4d8;
  --color-white: #ffffff;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
}